.nfa-table th, .nfa-table td {
    padding: 6px;
}

.nfa-table td {
    border: 1px solid black;
    border-width: 1px 0 0 1px;
}

.nfa-table tr td:last-child {
    border-right-width: 1px;
}

.nfa-table tr:last-child td {
    border-bottom-width: 1px;
}

.nfa-table tr th:first-child {
    text-align: right;
}

.nfa-table tr .accept {
    background-color: #dbdbdb;
}